h2 {
  color: indigo;
}
button {
  color: blue;
  background-color: #123456;
}
/* h1 {
  text-align: center;
  font-weight: normal;
  font-family: Arial;
}
p {
  line-height: 2;
}

h1:hover {
  color: aqua;
} */
.trans {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  transition: 0.5s;
}
.trans:hover {
  width: 100px;
  height: 100px;
  background-color: rgb(101, 216, 62);
  border-radius: 50%;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
s
